.benefits {

    padding-top: 94px;
    padding-bottom: 94px;
    /* padding-right: 215px;
    padding-left: 215px; */

}

.benefits__list {
    display: flex;
    justify-content: center;
}

.benefits__list li {
    margin-right: 30px;
}

.benefits__list li:last-child {
    margin-right: auto;
}


.benefits__title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;

    margin-bottom: 10px;
}

.benefits__subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.benefits__item::before {
    display: block;
    background: #F5F4FA;
    background-size: 70px 70px;
    content: '';

    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;

    background-repeat: no-repeat;
    background-position: center;
}

.antena-icon::before {
    background-image: url(../images/antena.png);
}

.clock-icon::before {
    background-image: url(../images/clock.png);
}

.diagram-icon::before {
    background-image: url(../images/diagram.png);
}

.astronaut-icon::before {
    background-image: url(../images/astronaut.png);
}