.benefits {

    padding-top: 94px;
    padding-bottom: 94px;



    &__list {
        display: flex;
        justify-content: center;

        & li {
            margin-right: 30px;
        }

        & li:last-child {
            margin-right: auto;
        }
    }



    &__title {
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        color: $main-texts-color;

        margin-bottom: 10px;
    }

    &__subtitle {
        font-weight: 400;
        font-size: 14px;
        line-height: 1.7;
        letter-spacing: 0.03em;
        color: $subtitle-color;
    }

    &__item::before {
        display: block;
        background: #F5F4FA;
        background-size: 70px 70px;
        content: '';

        width: 270px;
        height: 120px;
        border-radius: 4px;
        margin-bottom: 30px;

        background-repeat: no-repeat;
        background-position: center;
    }

    .antena-icon::before {
        background-image: url(../images/antena.png);
    }

    .clock-icon::before {
        background-image: url(../images/clock.png);
    }

    .diagram-icon::before {
        background-image: url(../images/diagram.png);
    }

    .astronaut-icon::before {
        background-image: url(../images/astronaut.png);
    }

}