.clients__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: $main-texts-color;

    margin-bottom: 50px;
    margin-top: 91px;
}

.clients__list {
    display: flex;
    flex-wrap: nowrap;

    padding-bottom: 55px;
}

.clients__item {
    @extend %flex;
    justify-content: center;
    box-sizing: border-box;


    border: 1px solid #AFB1B8;
    border-radius: 4px;

    height: 90px;
    width: 170px;

    &-clients__item:not(:last-child) {
        margin-right: 30px;
    }


    &-clients__item:hover {
        border: 1px solid $hover-color;
        transition: 250ms;
    }

    &-clients__item:hover svg {
        fill: $hover-color;
        transition: 250ms;
    }
}


.clients__svg {
    fill: #AFB1B8;
}