.main {
    @extend %flex-justifycontent-center;
    flex-wrap: wrap;

    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right,
            rgba(47,
                48,
                58,
                0.4),
            rgba(47,
                48,
                58,
                0.4)),
        url(../images/backgroundimg.png);


    &__title {

        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;

        text-align: center;
        letter-spacing: 0.06em;
        text-transform: uppercase;

        color: $dark-background-text-color;
        margin-bottom: 30px;
    }

    &__button {
        font-weight: 700;
        font-size: 16px;
        line-height: 1.9px;
        color: $dark-background-text-color;

        @include button($width-btn: 216px);

        display: block;
        margin-left: auto;
        margin-right: auto;

    }

}