body {
  font-family: "Roboto";
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p,
h1,
h2,
h3 {
  margin: 0;
}

.header__contacts, .header__pages {
  display: flex;
  align-items: center;
}

.footer__info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__socials-list {
  display: flex;
  justify-content: space-between;
}

.portfolio__list {
  display: flex;
  justify-content: center;
}

.footer__button, .portfolio__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.header {
  display: flex;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header__logo--span {
  color: #2196F3;
}
.header__container {
  display: flex;
}
.header__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #000000;
}
.header__pages {
  margin-left: 93px;
  margin-right: auto;
}
.header__pages li {
  margin-right: 55px;
}
.header__nav {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: rgb(33, 33, 33);
}
.header__nav:hover {
  color: rgb(33, 150, 243);
  transition: 250ms;
}
__ .header__link {
  display: flex;
}
__ .header__link svg {
  margin-right: 10px;
}
.header__list-contacts {
  display: flex;
}
.header__list-contacts svg {
  margin-right: 10px;
}
.header__email:hover, .header__phone:hover {
  transition: 250ms;
  color: rgb(33, 150, 243);
}
.header__contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.header__contacts li:first-child {
  margin-right: 50px;
}
.header__svg {
  fill: 757575;
}
.header__contact:hover svg {
  fill: rgb(33, 150, 243);
  transition: 250ms;
}
.header__current:after {
  content: "";
  display: block;
  width: 48px;
  height: 4px;
  position: absolute;
  top: 76px;
  background-color: rgb(33, 150, 243);
  border-radius: 5px;
  transition: 250ms;
}
.filters__button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgb(33, 33, 33);
  border: none;
}
.filters__button:hover {
  background-color: rgb(33, 150, 243);
  color: rgb(255, 255, 255);
  transition: 250ms;
  border: none;
}

.filters__list {
  width: 326px;
  flex-wrap: wrap;
  padding-left: 15px;
  padding-top: 45px;
}
@media screen and (min-width: 768px) {
  .filters__list {
    display: flex;
    justify-content: center;
    padding-left: 0px;
    flex-wrap: nowrap;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .filters__list {
    padding-top: 94px;
  }
}

.filters li {
  margin-right: 8px;
  display: inline-block;
  flex-wrap: wrap;
  padding-top: 15px;
}
@media screen and (min-width: 768px) {
  .filters li {
    flex-wrap: nowrap;
  }
}

.portfolio {
  padding-top: 40px;
  padding-bottom: 94px;
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 30px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 50px;
    padding-bottom: 94px;
  }
}
.portfolio__img {
  width: 450px;
  height: 294px;
}
@media screen and (min-width: 768px) {
  .portfolio__img {
    width: 354px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__img {
    width: 370px;
  }
}
.portfolio__item {
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  position: relative;
  overflow: hidden;
}
.portfolio__item:hover > .portfolio__item__overlay {
  opacity: 1;
  transform: translate(0px) scale(1) rotate(0);
}
.portfolio__item:hover {
  box-shadow: 0px 1px 1px 0px 1px 3px rgba(0, 0, 0, 0.12);
  transform: scale(1);
}
.portfolio__overlay {
  position: absolute;
  top: 0;
  left: 0;
  padding: 63px 24px;
  opacity: 0;
  transition: 250ms;
  transform: translate(-100%, -100%) rotate(360deg);
  width: 370px;
  height: 294px;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background: rgb(33, 150, 243);
}
.portfolio__list {
  flex-wrap: wrap;
}
.portfolio__list li {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
  border: 1px solid #EEEEEE;
}
.portfolio__textwraper {
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .portfolio__textwraper {
    padding-bottom: 56px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio__textwraper {
    padding-bottom: 20px;
  }
}
.portfolio__title {
  font-weight: 700;
  font-size: 17px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: rgb(33, 33, 33);
}
@media screen and (min-width: 768px) {
  .portfolio__title {
    font-size: 18px;
  }
}
.portfolio__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: rgb(117, 117, 117);
}

.footer {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer__info {
  width: 231px;
  height: 132px;
}
.footer__socials {
  padding-top: 60px;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
    padding-top: 12px;
  }
}
.footer__colonslist {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .footer__colonslist {
    align-items: flex-start;
    flex-direction: row;
  }
}
.footer__colonsitem {
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__colonsitem {
    text-align: left;
  }
}
.footer li {
  margin-bottom: 9px;
}
.footer__address {
  margin-bottom: 9px;
}
.footer__logo {
  margin-bottom: 20px;
}
.footer__address {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  color: rgb(255, 255, 255);
}
.footer__logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  color: #FFFFFF;
}
.footer__logo-span {
  color: #2196F3;
}
.footer__contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
}
.footer__contacts:hover {
  color: rgb(33, 150, 243);
  transition: 250ms;
}
.footer__social-link {
  display: flex;
  height: 44px;
  width: 44px;
  border-radius: 50%;
  padding: 12px;
  fill: #ffffff;
  margin-right: 10px;
}
.footer__social-link:hover {
  background-color: rgb(33, 150, 243);
  fill: #FFFFFF;
  transition: 250ms;
}
.footer__socials-item {
  text-align: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
}
.footer__title {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  margin-bottom: 20px;
}
.footer__socials-list {
  width: 206px;
}
.footer__link-item {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .footer__link-item {
    padding-top: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__link-item {
    padding-left: 93px;
    padding-top: 12px;
  }
}
.footer__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .footer__form {
    margin-top: 20px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__form {
    display: flex;
    justify-content: space-between;
    width: 570px;
    flex-direction: row;
    margin-top: 0px;
  }
}
.footer__send {
  fill: #fff;
  margin-left: 12px;
}
.footer__button {
  height: 50px;
  width: 200px;
  background: rgb(33, 150, 243);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: rgb(255, 255, 255);
  margin-top: 20px;
}
@media screen and (min-width: 1200px) {
  .footer__button {
    margin-top: 0px;
  }
}
.footer__field {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2));
  border-radius: 4px;
  background-color: transparent;
  font-family: "Roboto";
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding: 15px 16px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: all ease 0.2s;
}
.footer__field:hover {
  border-color: rgb(33, 150, 243);
  transition: 250ms;
}/*# sourceMappingURL=portfolio.css.map */