/* <!-- header --> */
ul {
    list-style-type: none;
}
body {
    font-family: 'Roboto';
}

a {
    text-decoration: none;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
}

.header-logo-span {
    color: #2196F3;
}

.header-list-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-list-navigation:hover {
    color: #2196F3;
}

.header-list-contacts:hover {
    color: #2196F3;
}

.header-list-contacts {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}

/* <!-- тут багато якихось кнопок --> */
.ul-button:hover {
   background-color: #2196F3;
   border: none;
   color: #FFFFFF;
}

.ul-button {
    border: none;
}

/* <!-- фотки фотки --> */

.photos-ul-h2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.photos-ul-p {
    
font-family: 'Roboto';
font-weight: 400;
font-size: 16px;
line-height: 1.9;
letter-spacing: 0.03em;
color: #757575;
}

/* <!-- footer --> */

.footer-address {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-logo-span {
    color: #2196F3;
}



.footer-list-contacts {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}

.footer-list-contacts:hover {
    color: #2196F3;
}