.header__container {
    display: flex;
}

.header__logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;

}

.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header__logo-span {
    color: #2196F3;
}

.header__pages {
    display: flex;
    margin-left: 93px;
    margin-right: auto;
    align-items: center;
}

.header__pages li {
    margin-right: 55px;
}

.header__nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header__nav:hover {
    color: #2196F3;
    transition: 250ms;

}

.header__link {
    display: flex;

}

.header__link svg {
    margin-right: 10px;
}

.header__list-contacts {
    display: flex;

}

.header__list-contacts svg {
    margin-right: 10px;
}

.header__email:hover,
.header__phone:hover {
    transition: 250ms;
    color: #2196F3;
}

.header__contacts {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    align-items: center;
}


.header__contacts li:first-child {
    margin-right: 50px;
}


.header__svg {
    fill: 757575;
}


.header__contact:hover svg {
    fill: #2196F3;
    transition: 250ms;
}

.current:after {
    content: '';
    display: block;
    width: 48px;
    height: 4px;
    position: absolute;
    top: 76px;
    background-color: #2196F3;
    border-radius: 5px;
    transition: 250ms;
}