.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
    position: relative;

    &__button {

        left: 90%;
        top: 20%;

        position: absolute;

        background-color: #fff;
        border: none;

        @media screen and (min-width: 768px) {

            display: none;
        }


        &__svg {


            @media screen and (min-width: 786px) {
                display: none;
            }
        }


    }




    &__container {
        display: flex;
    }

    &__logo {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: #000000;

        &--span {
            color: #2196F3;
        }

    }

    &__pages {


        display: none;

        @media screen and (min-width: 768px) {

            display: flex;
            align-items: center;
            margin-left: 93px;
            margin-right: auto;


        }

        @media screen and (min-width: 1200px) {}


        & li {
            margin-right: 55px;
        }

    }



    &__nav {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: $main-texts-color;

        &:hover {
            color: $hover-color;
            transition: 250ms;

        }

    }

    __ &__link {
        display: flex;

        & svg {
            margin-right: 10px;
        }

    }



    &__list-contacts {
        display: flex;

        & svg {
            margin-right: 10px;
        }

    }

    &__email:hover,
    &__phone:hover {
        transition: 250ms;
        color: $hover-color;
    }

    &__contacts {


        display: none;

        @media screen and (min-width: 768px) {



            display: flex;
            align-items: center;

            font-weight: 500;
            font-size: 14px;
            line-height: 1.14;

            color: #757575;

            flex-wrap: wrap;
        }

        @media screen and (min-width: 1200px) {
            letter-spacing: 0.02em;
        }

        margin-left: auto;


        @extend %flex;



        & li:first-child {


            @media screen and (min-width: 1200px) {
                margin-right: 50px;
            }


        }

    }


    &__svg {
        fill: 757575;
    }


    &__contact:hover svg {
        fill: $hover-color;
        transition: 250ms;
    }

    &__current:after {
        content: '';
        display: block;
        width: 48px;
        height: 4px;
        position: absolute;
        top: 76px;
        background-color: $hover-color;
        border-radius: 5px;
        transition: 250ms;
    }


    @media screen and (min-width:768px) {}

    @media screen and (min-width:1200px) {}


}