/* <!-- header --> */
body {
    font-family: 'Roboto';
}

.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: red 5px solid; */
    margin-left: auto;
    margin-right: auto;
}

header .container {
    display: flex;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;

}

.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
}

.header-logo-span {
    color: #2196F3;
}

.header-pages {
    display: flex;
    margin-left: 93px;
    margin-right: auto;
    align-items: center;
}

.header-pages li {
    margin-right: 55px;
}

.header-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-navigation:hover {
    color: #2196F3;
}

.header-link {
    display: flex;

}

.header-link svg {
    margin-right: 10px;
}

.header-list-contacts {
    display: flex;

}

.header-list-contacts svg {
    margin-right: 10px;
}

.header-contacts:hover {
    color: #2196F3;
}

.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    align-items: center;
}

.header-contacts {
    display: flex;
}


.header-contacts li:first-child {
    margin-right: 50px;
}


.header-svg {
    fill: 757575;
}


.header-contact:hover svg {
    fill: #2196F3;
}

/* <!-- тут багато якихось кнопок --> */
.filters-button {

    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    border: none;
}

.filters-button:hover {
    background-color: #2196F3;
    color: #FFFFFF;
    border: none;
}

.filters {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 94px;

}

.filters li {
    margin-right: 8px;
}




/* <!-- work examples --> */

.portfolio {
    /* padding-left: 215px; */
    padding-top: 50px;
    padding-bottom: 94px;
    /* padding-right: 215px;  */
}

.portfolio-img {
    width: 370px;
    height: 294px;
}

.portfolio-item {
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

.portfolio-list li {
    margin-right: 30px;
    margin-bottom: 30px;

}

.portfolio-list li:nth-child(3n) {
    margin-right: 0px;
}

.portfolio-textwraper {
    padding-left: 24px;
    padding-top: 20px;
    padding-bottom: 20px;
}



.portfolio-title {

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.portfolio-subtitle {


    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #757575;

}

/* <!-- footer --> */
.footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 231px;
    height: 132px;
}


.footer-socials {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-colonslist {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.footer li {
    margin-bottom: 9px;
}

.footer-address {
    margin-bottom: 9px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-logo-span {
    color: #2196F3;
}



.footer-contacts {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}

.footer-contacts:hover {
    color: #2196F3;

}



.footer-social-link {
    fill: #ffffff;
    height: 44px;
    width: 44px;
    border-radius: 50%;
    padding: 12px;
    display: flex;
}

.footer-social-link:hover {
    background-color: #2196F3;
    fill: #FFFFFF;
}

.footer-socials-item {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
}

.footer-socials {
    margin-left: 70px;
    padding-top: 12px;
}

.footer-title {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

    margin-bottom: 20px;
}

.footer-socials-list {
    display: flex;
    justify-content: space-between;
    width: 206px;
}