/* <!-- header --> */
body {
    font-family: 'Roboto';
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  outline: red 5px solid;
  margin-left: auto;
  margin-right: auto;
}

header .container {
    display: flex;
}

.header-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #000000;
    
}

.header {
    display: flex;
    padding-top: 24px;
    padding-bottom: 25px;
}
.header-logo-span {
    color: #2196F3;
}

.header-pages {
    display: flex;
    margin-left: 93px;
    margin-right: auto;
    align-items: center;
}

.header-pages li {
    margin-right: 55px;
}
 
.header-navigation {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}

.header-navigation:hover {
    color: #2196F3;
}

.header-contacts:hover {
    color: #2196F3;
}

.header-contacts {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    align-items: center;
}

.header-contacts {
    display: flex;
}

.header-contacts li:first-child {
    margin-right: 50px;
} 


/* <!-- головний екран --> */

.main-screen {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../images/backgroundimg.png)
    
}
.mainscreen-title {

font-weight: 900;
font-size: 44px;
line-height: 1.36;

text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;

color: #FFFFFF;
margin-bottom: 30px;
}

.mainscreen-button {
    font-weight: 700;
    font-size: 16px;
    line-height: 1.9px;
    color: #FFFFFF;

    width: 200px;
    height: 50px;
    background: #2196F3;
    border-radius: 4px;
    border-color: #2196F3;
    display:block;
    margin-left: auto;
    margin-right: auto;
    
}


/* <!-- переваги --> */

.benefits {

    padding-top: 94px;
    padding-bottom: 94px;
    /* padding-right: 215px;
    padding-left: 215px; */

}
.benefits-list {
    display: flex;
    justify-content: center;
}

.benefits-list li {
    margin-right: 30px;
}

.benefits-list li:last-child {
    margin-right: auto;
}


.benefits-title {
    font-family: 'Roboto';
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
color: #212121;

margin-bottom: 10px;
}

.benefits-subtitle {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: #757575;
}

.benefits-item::before {
    display: block;
    background: #F5F4FA;
    background-size: 70px 70px;
    content: '';

    width: 270px;
    height: 120px;
    border-radius: 4px;
    margin-bottom: 30px;
    
    background-repeat: no-repeat;
    background-position: center;
    } 

    .antena-icon::before{
        background-image: url(../images/antena.png);
    }
    .clock-icon::before{
        background-image: url(../images/clock.png);
    }
    .diagram-icon::before{
        background-image: url(../images/diagram.png);
    }
    .astronaut-icon::before{
        background-image: url(../images/astronaut.png);
    }

/* <!-- Чим ми займаємося --> */

.skills {
    padding-top: 94px;
    padding-bottom: 94px;
    
}
.skills-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
    
}

.skills-list li {
    margin-right: 30px;
    
}

.skills-list li:last-child {
    margin-right: auto;
}

 
.skills-img {
    width: 370px;
    height: 294px;
    
}

.skills-title {
font-weight: 700;
font-size: 36px;
line-height: 1.16;
text-align: center;
letter-spacing: 0.03em;

color: #212121;
margin-bottom: 50px;

}


/* <!-- Наша команда --> */


.team {
    background-color: #F5F4FA;
    padding-top: 94px;
    padding-bottom: 94px;
    /* padding-left: 215px;
    padding-right: 215px; */
}
.team-img {
    width: 270px;
    height: 260px;
}
.team-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center
} 

.team-list li {
    margin-right: 30px;
}

.team-list li:last-child {
    margin-right: auto;
}

.team-item { 
 background-color: #FFFFFF;
 box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}

.team-maintitle {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}

.team-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;

    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

    margin-top: 30px;
    margin-bottom: 10px;
}

.team-subtitle {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.9;
    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
    margin-bottom: 30px;
}

/* <!-- footer --> */

.footer {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   background-color: #2F303A;
   /* padding-left: 215px; */
   padding-top: 60px;
   padding-bottom: 60px;
   /* padding-right: 1154px;  */
}

.footer li {
    margin-bottom: 9px;
}

.footer-address {
    margin-bottom: 9px;
}
.footer-logo {
    margin-bottom: 20px; 
}
.footer-address {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

.footer-logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.9;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-logo-span {
    color: #2196F3;
}



.footer-contacts {

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}

.footer-contacts:hover {
    color: #2196F3;
    
}